# Datasets and large files
/annotated_samples/
/crop/
/dataset/
/images/
/labels/
/Military Aircraft Recognition dataset/
/Military Aircraft Recognition dataset.zip
/runs/
/Prediction/

# Data lists
test.txt
train.txt
val.txt
results.csv

# Configuration
args.yaml

# Other models
last.pt

# Cache and temp files
__pycache__/
.ipynb_checkpoints/
.qodo/

# Other images
B2-1 (1).jpeg
B2-1.jpeg
B2-1.txt
