# Datasets and large files
/annotated_samples/
!/annotated_samples/005e486c03142ce64736bba86b347b96.jpg
!/annotated_samples/023cc897edc78f676fd1f2f347d80e83.jpg
!/annotated_samples/02d408885ea1339fac6e2344086599ab.jpg
/crop/
/dataset/
/images/
/labels/
/Military Aircraft Recognition dataset/
/Military Aircraft Recognition dataset.zip
/runs/
/Prediction/

# Data lists
test.txt
train.txt
val.txt
results.csv

# Configuration
args.yaml

# Other models
last.pt

# Cache and temp files
__pycache__/
.ipynb_checkpoints/
.qodo/

# Other images
!B2-1 (1).jpeg
!B2-1.jpeg
B2-1.txt
